.CreateForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .FormContent {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .NoteForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .TextHead {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .NoteText {
    border: none;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .CreateNoteBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .CreateNoteBtn:hover {
    background-color: #0069d9;
  }